" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Map leader to space -------------------------------------------------------------------------------------------------
let mapleader = "\<Space>"

" Plugins -------------------------------------------------------------------------------------------------------------
Plug 'machakann/vim-highlightedyank'                " Highlight copied text
Plug 'tpope/vim-commentary'                         " Commentary plugin
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
Plug 'preservim/nerdtree'

" Plugin settings -----------------------------------------------------------------------------------------------------

" Common settings -----------------------------------------------------------------------------------------------------
set scrolloff=5                                     " Show lines of context around the cursor
set incsearch                                       " Incremental searching
set ignorecase                                      " Ignore case when searching
set hlsearch                                        " Highlight matches when searching
set smartcase                                       " No ignore case when pattern is uppercase
set relativenumber                                  " Relative line numbers
set showmodewidget                                  " Show vim mode widget
set colorfulmodewidget                              " Use colorful vim mode widget
set clipboard=unnamedplus,unnamed,ideaput           " Integrate with system clipboard
set idearefactormode=keep

" Custom bindings -----------------------------------------------------------------------------------------------------
nmap <leader><Esc> :nohlsearch<CR>
nmap <leader>fd <C-6>
nnoremap <leader>* 0y$/\V<C-r>"<CR>

" Idea specific settings ----------------------------------------------------------------------------------------------
set ideajoin                                        " Smart join for J

" Mappings ------------------------------------------------------------------------------------------------------------
nmap <leader>rr <Action>(Run)

" Debug
nmap <leader>rd <Action>(Debug)
nmap <leader>bb <Action>(ToggleLineBreakpoint)
nmap <leader>bm <Action>(XDebugger.MuteBreakpoints)
nmap <leader>bo <Action>(StepOver)
nmap <leader>bi <Action>(StepInto)
nmap <leader>bl <Action>(ShowExecutionPoint)
nmap <leader>br <Action>(Resume)
nmap <leader>ba <Action>(AndroidConnectDebuggerAction)

" Git
nmap <leader>v <Action>(Vcs.QuickListPopupAction)
vmap <leader>v <Action>(Vcs.QuickListPopupAction)
nmap <leader>vb <Action>(Git.Branches)
nmap <leader>vd <Action>(Compare.SameVersion)
nmap <leader>vh <Action>(Vcs.ShowTabbedFileHistory)
nmap <leader>vcb <Action>(Git.CompareWithBranch)
vmap <leader>vs <Action>(Vcs.ShowHistoryForBlock)

" Go to file
nmap <leader>fb <Action>(RecentFiles)
nmap <leader>fs <Action>(SearchEverywhere)
nmap <leader>ff <Action>(GotoClass)
nmap <leader>fa <Action>(GotoFile)
nmap <leader>ft <Action>(GotoTest)

" Go to method
nmap <leader>g <Action>(GotoDeclaration)
nmap <leader>i <Action>(GotoImplementation)
nmap <leader>s <Action>(GotoSuperMethod)

" Formatting & Refactor
nmap <leader>fm <Action>(ReformatCode)
vmap <leader>fm <Action>(ReformatCode)
nmap <leader>fl <Action>(IntentionActionAsAction_org.jetbrains.kotlin.idea.codeInsight.intentions.shared.ChopArgumentListIntention)
nmap <leader>fL <Action>(IntentionActionAsAction_org.jetbrains.kotlin.idea.codeInsight.intentions.shared.ChopParameterListIntention)
nmap <leader>fn <Action>(IntentionActionAsAction_org.jetbrains.kotlin.idea.intentions.AddNamesToCallArgumentsIntention)
nmap <leader>rf <Action>(RenameElement)
nmap <leader>rev <Action>(IntroduceVariable)
vmap <leader>rev <Action>(IntroduceVariable)
nmap <leader>rem <Action>(ExtractFunction)
vmap <leader>rem <Action>(ExtractFunction)

" Generate code
nmap <leader>rg <Action>(GenerateGroup)
nmap <leader>ri <Action>(ImplementMethods)
nmap <leader>ro <Action>(OverrideMethods)

" Text movement
imap <C-h> <Left>
imap <C-l> <Right>
imap <C-j> <Down>
imap <C-k> <Up>
nmap zj 10<Down>
nmap zk 10<Up>
vmap zj 10<Down>
vmap zk 10<Up>
vmap <C-j> <Action>(MoveLineDown)
vmap <C-k> <Action>(MoveLineUp)

" Invert semantics for known keywords
nnoremap ! :call Invert(0)<CR><Esc>
vnoremap ! :<C-u>call Invert(1)<CR><Esc>

" Tabs
nmap <leader>tp <Action>(PinActiveTab)
nmap <leader>to <Action>(ReopenClosedTab)
nmap <tab> gt
nmap <S-tab> gT
nmap ]t <Action>(com.mnw.tabmover.actions.MoveTabDownAction)
nmap [t <Action>(com.mnw.tabmover.actions.MoveTabUpAction)
nmap <C-w>v <Action>(MoveTabRight)
nmap <C-w>s <Action>(MoveTabDown)
nmap <C-w>o <Action>(UnsplitAll)

" Harpoon
nmap <leader>hh <Action>(ShowHarpoon)
nmap <leader>ha <Action>(AddToHarpoon)
nmap <M-h> <Action>(GotoHarpoon1)
nmap <M-j> <Action>(GotoHarpoon2)
nmap <M-k> <Action>(GotoHarpoon3)
nmap <M-l> <Action>(GotoHarpoon4)
nmap <leader><M-h> <Action>(SetHarpoon1)
nmap <leader><M-j> <Action>(SetHarpoon2)
nmap <leader><M-k> <Action>(SetHarpoon3)
nmap <leader><M-l> <Action>(SetHarpoon4)

" ADB Idea
nmap <leader>a <Action>(AdbIdea)

" Misc
nmap <leader>d <Action>(QuickJavaDoc)
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)
nmap <leader>x <Action>(CloseContent)
nmap <leader>o <Action>(SelectInProjectView)

" Diff
nmap ]] <Action>(NextDiff)
nmap [[ <Action>(PreviousDiff)
nmap <C-]> <Action>(Diff.NextChange)
nmap <C-[> <Action>(Diff.PrevChange)
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)<Esc>
nmap =c <Action>(VcsShowCurrentChangeMarker)<Esc>

" vim-multiple-cursors
nmap <C-n> <Plug>NextOccurrence
xmap <C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence
nmap <leader><C-n> <Plug>AllOccurrences
xmap <leader><C-n> <Plug>AllOccurrences

" Functions -----------------------------------------------------------------------------------------------------------
function! Invert(calledFromVisual)
  let antonyms = ['true', 'false',
                 \'==', '!=',
                 \'&&', '||',
                 \'VERTICAL', 'HORIZONTAL',
                 \'assertTrue', 'assertFalse',
                 \'VISIBLE', 'GONE',
                 \'visible', 'gone',
                 \'val', 'var']

  if a:calledFromVisual
    normal gv"wy
  else
    normal "wyiw
  endif
  let wordUnderCaret = @w

  let eraseWord = a:calledFromVisual ? 'gvc' : 'ciw'
  let count = 0
  while (count < len(antonyms))
    if (antonyms[count] ==# wordUnderCaret)
      let antonym = (count % 2 ==? 0) ? antonyms[count + 1] : antonyms[count - 1]
      execute 'normal ' .. eraseWord .. antonym
      break
    endif
    let count += 1
  endwhile
endfunction
